@use '../vars' as var;

.registration{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .registration-main{
        width: 240px;
        height: 350px;
        padding: 30px;
        border: solid var.$green-mark 5px;
        text-align: center;

        label{
            font-size: 1.7rem;
            font-weight: bold;
        }

        input{
            outline: none;
            border: none;
            border-bottom: solid black 1px;
            text-align: center;
            font-size: 1.2rem;
        }

        .invalid-input-err{
            color: var.$red-mark;
        }
    }
}