

.registration-verification{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



    .try-again-text{
        font-size: 0.9rem;

        span{
            cursor: pointer;
            font-weight: bold;
        }

    }

}