@use '../vars' as var;


.book-confirmation{
    width: 100%;
    height: 100%;

    h1{
        font-size: 2rem;
        margin-bottom: 20px;
        color: var.$blue;
    }

    .confirmation-screen{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.2rem;

        span{
            font-weight: 600;
        }

        .overbooking-text{
            color: var.$red-mark;
        }

        button{
            margin-top: 20px;
            align-self: center;
            border: solid var.$blue 2px;
            background-color: white;
            color: var.$blue;
            font-weight: 500;

            &:hover{
                background-color: white;
            }
        }
    }

    .success-screen, .error-screen{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }


}