

.book-confirmation{
    width: 100%;
    height: 100%;


    h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .confirmation-screen{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.2rem;

        button{
            margin-top: 40px;
            width: 200px;
            align-self: center;
        }
    }

    .success-screen, .error-screen{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


}