@use '../vars' as var;

.doctor-selection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;

    .auto-complete{
    width: 50%;

        button{
            width: 35px;
            border-radius: 5px;
        }
    }

    h1{
        font-size: 2rem;
        margin-bottom: 20px;
        color: var.$blue;
    }

    .doctor-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .rating{
            display: flex;
            gap: 10px;
        }
    }

    .MuiAutocomplete-option
    {
        background-color: aqua;
    }


// <li tabindex="-1" role="option" id="«r0»-option-0" data-option-index="0" aria-disabled="false" aria-selected="false" class="MuiAutocomplete-option Mui-focused" style="display: flex; align-items: center; justify-content: space-between;"><p>Leroy Walter</p></li>
}