@use './vars' as var;
@use './App.scss';
@use './components/AppHeader.scss';
@use './Registration/Registration.scss';
@use './Registration/RegistrationSendOtp.scss';
@use './Registration/RegistrationVerification.scss';
@use './Dashboard/Dashboard.scss';
@use './Dashboard/DashboardRegular.scss';
@use './Dashboard/AppointmentFilter.scss';
@use './Dashboard/DashboardWelcome.scss';
@use './Dashboard/FieldSlideShow.scss';
@use './BookingFlow/BookingFlow.scss';
@use './BookingFlow/MedicalFieldSelector.scss';
@use './BookingFlow/DoctorSelector.scss';
@use './BookingFlow/TimeSlotSelector.scss';
@use './BookingFlow/BookConfirmation.scss';
@use './AppointmentManagement/AppointmentManagement.scss';
@use './AppointmentManagement/CancelModal.scss';
@use './AppointmentManagement/RescheduleModal.scss';
@use './AppointmentManagement/MethodModal.scss';
@use './NotFound.scss';


body{
    margin: 0px;

    h1, h2, h3, p{
        margin: 0;
    }

    font-family: "Raleway", sans-serif;

    button{
        cursor: pointer;
        border: none;
        height: 40px;
        width: 220px;
        border-radius: 20px;
        background-color: var.$blue;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 1rem;
        
        &:hover{
            background-color: var.$blue-mark;
        }

        &:disabled{
            cursor: default;
            opacity: 0.6; 

            &:hover{
                background-color: var.$blue;
            }
        }
    }


    input{
        font-family: "Raleway", sans-serif;
    }
}