@use './vars';
@use './App.scss';
@use './components/AppHeader.scss';
@use './Registration/Registration.scss';
@use './Registration/RegistrationSendOtp.scss';
@use './Registration/RegistrationVerification.scss';
@use './Dashboard/Dashboard.scss';
@use './Dashboard/DashboardRegular.scss';
@use './Dashboard/DashboardWelcome.scss';
@use './Dashboard/FieldSlideShow.scss';
@use './BookingFlow/BookingFlow.scss';
@use './BookingFlow/MedicalFieldSelector.scss';
@use './BookingFlow/DoctorSelector.scss';
@use './BookingFlow/TimeSlotSelector.scss';
@use './BookingFlow/BookConfirmation.scss';
@use './AppointmentManagement/AppointmentManagement.scss';
@use './AppointmentManagement/CancelModal.scss';
@use './AppointmentManagement/RescheduleModal.scss';


body{
    margin: 0px;

    h1, h2, h3, p{
        margin: 0;
    }

    button{
        cursor: pointer;
    }


}