@use '../vars' as var;

.appointment-management{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;

    h1{
        font-size: 1.8rem;
        margin-bottom: 20px;
        color: var.$blue;
    }

    h3{
        font-size: 1.6rem;
        font-weight: 600;
        color: var.$blue;
    }

    span{
        font-weight: 600;
    }

    .action-buttons{
        margin-top: 40px;
        display: flex;
        gap: 30px;

        button{
            width: 150px;
        }

        .cancel-butt{
            width: 200px;
            background-color: white;
            color: var.$blue;
            border: solid var.$blue 2px;

            &:hover{
                background-color: ghostwhite;
            }
        }

        .virtual-butt{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-weight: 100;
            background-color: var.$green;
            color: white;

            span{
                font-weight: 400;
            }

            &:not(:disabled):hover{
                background-color: #43ceb2;
            }
        }

    }

    .download-area{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .download-butt{
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: solid var.$blue 2px;
            background-color: white;
            color: var.$blue;
            font-weight: 600;

            &:hover{
                background-color: ghostwhite;
            }
        }

        p{
            color: var.$red-mark;
            font-size: 1.1rem;
        }
    }

    .modals-container{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(35, 37, 60, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .buttons-area{
            display: flex;
            gap: 75px;

            .no-butt{
                background-color: white;
                color: var.$blue;
                border: solid var.$blue 2px;

                &:hover{
                    background-color: ghostwhite;
                }
            }

            button{
                width: 100px;
            }
        }
    }

    .switch{
        position: relative;
        left: -10px;

        .MuiSwitch-switchBase{
            color: var.$blue;
        }

        .MuiSwitch-track {
        background-color: var.$blue;
        }

        .MuiSwitch-switchBase.Mui-checked{
            color: var.$green;
        }

        .Mui-checked + .MuiSwitch-track{
            background-color: var.$green;
        }

        .switch-label{
            font-family: "Raleway", sans-serif;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}