
.appointment-management{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1{
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    h3{
        font-size: 1.6rem;
    }


    .action-buttons{
        margin-top: 40px;
        display: flex;
        gap: 60px;
    }

    .modals-container{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}